body {
  margin: 0;
}

.fondo {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

input {
  border: 1px solid black;
  font-weight: bold;
  font-family: monospace;
  border-radius: 50%;
  z-index: 9999999;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 0.5vw;
  width: 4vw;
  height: 4vw;
  max-height: 5vh;
  max-width: 5vh;
  min-width: max-content;
  min-height: max-content;
  cursor: pointer;
  outline: 0;
}

#KeyW {
  top: 80vh;
  left: 29vw;
}

#KeyS {

  top: 68vh;
  left: 49vw;
}

#KeyD {
  top: 29vh;
  left: 63vw;
}

#KeyA {
  top: 29vh;
  left: 27vw;
}

#KeyM {
  top: 95vh;
  left: 78vw;
}

#ArrowUp {
  top: 67vh;
  left: 80.5vw;
}

#ArrowDown {
  top: 72vh;
  left: 80.5vw;
}

#KeyP {
  top: 42.5vh;
  left: 79.5vw;
}

#KeyZ {
  top: 54.5vh;
  left: 30vw;
}

#KeyC {
  top: 48.5vh;
  left: 30vw;
}

#Enter {
  top: 53vh;
  left: 54vw;
}

#cambios {
  width: 25vw;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 999999;
  left: 75vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

#CN {
  grid-row: 5/6;
  grid-column: 3/4;
}

#CP {
  grid-row: 1/2;
  grid-column: 3/4;
}

#CD {
  grid-row: 7/8;
  grid-column: 3/4;
}

#CR {
  grid-row: 3/4;
  grid-column: 3/4;
}
.conten {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical {
  border: 2px solid black;
  height: 100%;
  width: 0;
}
#V1 {
  grid-row: 2/3;
  grid-column: 4/5;
}

#V2 {
  grid-row: 4/5;
  grid-column: 4/5;
}

#V3 {
  grid-row: 6/7;
  grid-column: 4/5;
}

.bolita {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#BP {
  grid-row: 1/2;
  grid-column: 4/5;
}

#BN {
  grid-row: 3/4;
  grid-column: 4/5;
}

#BD {
  grid-row: 5/6;
  grid-column: 4/5;
}

#BR {
  grid-row: 7/8;
  grid-column: 4/5;
}

#Panel {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999999;
  position: absolute;
  left: 28vw;
  padding: 1vw;
  width: 43vw;
  height: 8vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  overflow: hidden;
}
#Velocidad {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  z-index: 9999999;
  position: absolute;
  left: 14vw;
  top: 2vh;
  padding: 1vw;
  width: 10vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Distancia {
  background-color: rgba(228, 213, 213, 0.8);
  text-align: center;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2vh;
  padding: 1vw;
  width: 10vw;
  height: 4vh;
}

/* POPUP */

.contenedor article .btn-abrir-popup {
  padding: 0 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5e7de3;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
  cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: #f8f8f8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
  width: 600px;

  transition: 0.3s ease all;
  transform: scale(0.7);
  opacity: 0;
}

@media (min-width: 1441px){
  .popup {
    width: 1100px;
  }
}

.popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: 0.3s ease all;
  color: #bbbbbb;
}

.popup .btn-cerrar-popup:hover {
  color: #000;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popup h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popup form .contenedor-inputs {
  opacity: 0;
}

.popup form .contenedor-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  border: 1px solid #bbbbbb;
}

.popup form .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5e7de3;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.popup form .btn-submit:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
  transform: scale(1);
  opacity: 1;
}
.popup.active h3 {
  animation: entradaTitulo 0.8s ease 0.5s forwards;
}
.popup.active h4 {
  animation: entradaSubtitulo 0.8s ease 0.5s forwards;
}
.popup.active .contenedor-inputs {
  animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaInputs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


